<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
<!--  <meta content="Mashup templates have been developped by Orson.io team" name="author">-->

  <!-- Disable tap highlight on IE  -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.png" rel="icon">

  <title>About Me</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./imaging.html" title="">03 : Imaging</a></li>
          <li><a href="./mechanical.html" title="">04 : Mechanical</a></li>
          <li><a href="./electrical.html" title="">05 : Electrical</a></li>
          <li><a href="./other.html" title="">06 : Personal</a></li>
          <li><a href="./contact.html" title="">07 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">02 : About me</h1>
          </div>
          
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <h2>Who am I?</h2>
                  <p>My name is William Joseph Jennings and I'm a Class of 2023 <b>mechanical engineer</b> with a concentration in product development at <b>Northeastern University</b>. My passion for engineering lies within <b>remote sensing for defense and aerospace applications</b>.</p>

                  <p>The best way to sum up my work style is that I put blood, sweat, and <b>cheer</b> into everything I do.</p>

                  <p>My favorite part about engineering is the problem solving. I believe the best way to live life is through <b>challenging myself and seeing what I'm capable of</b>. Through my experience thus far, I've found that the long and tough road almost always leaves the biggest smile on my face, and always makes me a better person. That is why I've chosen to be a mechanical engineer, and <b>my goal is to bring that passion to every team</b> I am a part of in the future.</p>

                  <p>Outside of engineering, I am an avid <b>adventure photographer</b> - and I take every opportunity I can get to hit the road and hike with my Canon. During my time in the Pacific Northwest I spent my weekends travelling solo to places like Juneau,  Alaska and through the Central Oregon High Desert to work on my photography and explore. An important thing about me is that <b>I'm always up for a new experience</b>, no matter how out-there it may be!</p>

                </div>
                <div class="col-xs-12 col-md-6">
                  <img src="./static/assets/images/profile.jpg" class="img-responsive" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <center><p><b>>>scroll for more<<</b></p></center>
          </div>

          <div class="col-xs-12">
            <h2>Professional work experience  </h2>
                  <h3>Overwatch Imaging</h3>
                  <p>In 2022, I pushed myself to the next level. From July to December, I moved to Hood River, Oregon to work at a <b>rapidly growing aerospace start-up</b> called Overwatch Imaging as a <b>remote sensing payload design co-op</b>. The products I worked on designing <b>utilized artificial intelligence and machine learning to recognize objects of interest from the air</b>.</p>
                  <p>These payloads were mounted on the bottom of small aircraft and functioned in critical <b>search and rescue</b> missions, <b>wildfire mapping</b>, and in many other intense operations. As a <b>passionate co-op</b> at a company with no shortage of work to do, I quickly advanced my skills, and got my hands on high-level projects.</p>
                  <p>I worked on projects such as <b>weather-proofing</b> a payload through <b>gasketing</b>, designing <b>printed circuit boards</b> to eliminate electromagnetic interference during data transmission, and I created an entire <b>quality control system</b> for over <b>three dozen</b> different electronic boards and imagers.</p>

            <div class="col-md-10 col-md-offset-1 section-container-spacer">
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="./static/assets/images/other/willjenningsphoto/OWI_marketingimage1.png" class="img-responsive" alt="">

                    </div>
                    <div class="col-sm-4">
                      <img src="./static/assets/images/other/willjenningsphoto/OWI_marketingimage3.jpg" class="img-responsive" alt="">

                    </div>
                    <div class="col-sm-4">
                      <img src="./static/assets/images/other/willjenningsphoto/OWI_marketingimage2.jpg" class="img-responsive" alt="">

                    </div>
                  </div>
              </div>



            <h3>Werfen/Instrumentation Laboratory</h3>
                  <p>In 2021, I worked as a product development engineer co-op at Werfen, formerly known as Instrumentation Laboratory. During my 6-months there, I worked on designing a <b>test fixture for a blood testing device</b> that rapidly determined potassium contents in patient’s bloodstreams. At Werfen, I got my first taste of <b>mechatronics</b>, as I got to work equally with mechanical, electrical, and software design.</p>
                  <p>By the end of my co-op, I had created a new method of homogeneously mixing blood samples that utilized <b>fluid recirculation</b> rather than vibratory mixing - resulting in <b>reducing test variation by over 50%</b>. The system consisted of <b>fluid dynamics</b>, mechanical <b>fixture design</b>, <b>python software</b> to trigger <b>actuators and pumps</b> at precise moments, and electronics to record, analyze, and compute data sets.</p>
                  <p>I also developed an <b>environmental testing chamber</b> to study condensation on chemical reagent cartridges at <b>different temperatures and humidity levels</b>.</p>

          </div>
          
       </div>
      </div>
    </div>
  </div>



<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>