<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.png" rel="icon">

  <title>William Jennings: Quality Control</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./imaging.html" title="">03 : Imaging</a></li>
          <li><a href="./mechanical.html" title="">04 : Mechanical</a></li>
          <li><a href="./electrical.html" title="">05 : Electrical</a></li>
          <li><a href="./other.html" title="">06 : Personal</a></li>
          <li><a href="./contact.html" title="">07 : Contact</a></li>
        </ul>




      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/electrical/universaltester/qualitycontrol_banner.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">001 : Overwatch quality control system</h1>
          </div>
          <p>At Overwatch Imaging, an aerial imaging startup accelerating at a rapid pace, there was <b>no way to ensure electronics were properly functioning</b> prior to integration into advanced remote-sensing payloads. This resulted in <b>major production setbacks</b> when boards malfunctioned due to the complexity of fully built up payloads. Over the course of 3-months, I designed a testing system to verify over <b>30 different electronic boards</b> (<b>gimbal controllers</b>, motor <b>encoders</b>, frame grabbers, <b>camera interface</b> boards, power supplies) and <b>8 different imagers</b>, with the ability to be expanded for future components.</p>
          <center><p><b>>>scroll for more<<</b></p></center>
        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/electrical/universaltester/universaltester_testbench.jpg" class="img-responsive" alt="">
            <p>Final production quality control test bench</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/electrical/universaltester/universaltester_flowchart.jpg" class="img-responsive" alt="">
            <p>Universal product flow chart I designed for testing</p>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <div>
          <h3>Problem</h3>
          <p>Payloads were experiencing recurring issues due to electronics malfunctions. Due to the large number of electronic components in the system, pinpointing the issue could <b>delay</b> production schedules by <b>days, or even weeks</b>. Upon further investigation, I found that electronics were being integrated into imaging payloads with <b>little to no verification of their functionality</b>. However, at the time, testing one board would require an entire built up payload, which was <b>not economical or efficient</b>.</p>
        </div>
        <div>
          <h3>Objectives</h3>
            <p>- <b>Simplify the structure of payloads</b> to test boards in sub groups</p>
            <p>- Determine the necessary inputs and outputs of all electronics to <b>verify their functionality</b></p>
            <p>- Build a <b>physical test station</b> for the production team to use</p>
            <p>- Create <b>documentation</b> on <b>Confluence</b> so anyone can use the system</p>
        </div>
        <div>
          <h3>Actions</h3>
          <p>- Meticulously studied all payloads over 1.5 months and developed a set of <b>independent subsystems</b> that can be applied to all Overwatch products</p>
          <p>- Designed a <b>camera tester</b> that could fit and control the focus of any Overwatch camera, and a motor tester to verify <b>encoders and IMUs</b> </p>
          <p>- Developed <b>testing protocols</b> for all <b>production electronics</b> by determining expected inputs and outputs under proper operating conditions</p>
          <p>- Made a modular breadboard to easily swap out electronics and subsystems for other to create the perfect setup every time</p>
          <p>- Created <b>15+ cables</b> to connect to board inputs and outputs</p>
          <p>- <b>3D printed</b> 11+ mounts to secure and ground electronic components</p>

        </div>

        <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/electrical/universaltester/cameratester.jpg" class="img-responsive" alt="">
            <p>Camera tester designed for verifying focus and imaging quality</p>
          </div>
          <div class="col-xs-12 col-md-6">
            <img src="./static/assets/images/electrical/universaltester/motortester.png" class="img-responsive" alt="">
            <p>Device created to test motor, encoder, and IMU functionality</p>
          </div>
        </div>
        </div>

        <div class="col-xs-12">
          <h3>Results</h3>
            <p>- Presented final testing system to entire company and <b>trained a production staff of 6</b> on how to test with it</p>
            <p>- Support for over <b>20</b> electronic boards, and <b>8+ cameras</b></p>
            <p>- Successfully categorized issues on an electronic board within <b>an hour instead of days</b> through the use of independent subsystems of 3-5 boards rather than an entire payload of 20+ components</p>
            <p>- Over <b>20 Confluence pages</b> dedicated to properly using the system, as well as how to evolve it as products change</p>
        </div>

      </div>


      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <img src="./static/assets/images/electrical/universaltester/universaltester_testbench.jpg" class="img-responsive" alt="">
            <p>Final production quality control test bench</p>
          </div>
          <div class="col-xs-12 col-md-5">
            <img src="./static/assets/images/electrical/universaltester/confluence.jpg" class="img-responsive" alt="">
            <p>Confluence documentation for testing</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>





<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>