<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="assets/apple-icon-180x180.png">
  <link href="./static/assets/favicon.png" rel="icon">

  <title>William Jennings: PCB</title>

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./about.html" title="">02 : About me</a></li>
          <li><a href="./imaging.html" title="">03 : Imaging</a></li>
          <li><a href="./mechanical.html" title="">04 : Mechanical</a></li>
          <li><a href="./electrical.html" title="">05 : Electrical</a></li>
          <li><a href="./other.html" title="">06 : Personal</a></li>
          <li><a href="./contact.html" title="">07 : Contact</a></li>
        </ul>




      </div> 
    </div>
  </nav>
</header>
<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_Banner.jpg" class="img-responsive" alt="">
        <div class="card-container">
          <div class="text-center">
            <h1 class="h2">002 : Printed Circuit Board design</h1>
          </div>
          <p>During my co-op at Overwatch Imaging, I had the opportunity to work on designing my first <b>PCB</b> to resolve data transmission issues across all of our 6+ models of <b>remote-sensing payloads</b>. Given the chance, I quickly got to work learning how to be more <b>adept in electrical engineering and electronics integration</b>. Through the guidance of our senior electrical engineer, I developed skills in <b>designing electronics schematics and PCB layouts</b>, and put my electrical engineering knowledge to the test.</p>

          <center><p><b>>>scroll to see more<<</b></p></center>

        </div>
      </div>

      
      
      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_Schematic.jpg" class="img-responsive" alt="">
            <p>Final electronics schematic</p>
          </div>
          <div class="col-xs-12 col-md-5">
            <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_Board.jpg" class="img-responsive" alt="">
            <p>Final production board (top)</p>
          </div>
        </div>
      </div>


      <div class="col-xs-12">
        <div>
          <h3>Problem</h3>
            <p>Long lengths of wires within payloads were <b>highly susceptible to noise and electromagnetic interference</b>, causing payload errors in <b>high-intensity mission environments</b>. Transmission of <b>critical imaging and control data</b> to the main processor in wires travelling through the core of a motor experienced information loss.</p>
        </div>
        <div>
          <h3>Objectives</h3>
            <p>- <b>Eliminate interruption</b> of data on way to the central system processor and back</p>
            <p>- Able to function in <b>both directions</b></p>
            <p>- <b>Design for manufacturability</b> of 50+ units</p>
            <p>- Withstand fluctuations in voltage and current</p>
        </div>
        <div>
          <h3>Actions</h3>
            <p>- Researched various transceiver and voltage regulator specification sheets on DigiKey</p>
            <p>- Translated the data protocol from <b>Transistor-Transitor-Logic (TTL) to RS422</b>, which could then be into positive and negative wires. By using <b>differential signaling</b>, the data transmission would have <b>improved noise immunity</b>, and <b>reduced EMI radiation</b>.</p>
            <p>- Performed electrical simulations to ensure all components functioned on 15V, and could withstand fluctuations of ~15%</p>
            <p>- Learned how to create professional electronics schematics on <b>Altium CoDesigner</b></p>
            <p>- Designed a Printed Circuit Board based on the schematic following <b>manufacturing standards</b></p>

          <div class="col-md-8 col-md-offset-4 section-container-spacer">
                  <div class="row">
                    <div class="col-sm-5">
                      <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_PCBLayout.jpg" class="img-responsive" alt="">
                      <p>Final PCB layout diagram</p>
                    </div>
                  </div>
          </div>

        </div>
        <div>
          <h3>Results</h3>
            <p>- <b>Manufactured 50+ boards</b> to be implemented into 25+ future aerial imaging payloads</p>
            <p>- Successful integration into all payload models</p>
            <p>- <b>Eliminated noise and electromagnetic interference</b>, resolving data transmission issues</p>
        </div>

      </div>


      <div class="col-md-8 col-md-offset-2 section-container-spacer">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_BoardBottom.jpg" class="img-responsive" alt="">
            <p>Transceivers and voltage regulators on bottom of PCB</p>
          </div>
          <div class="col-xs-12 col-md-5">
            <img src="./static/assets/images/electrical/RS422TTL/RS422TTL_Production.jpg" class="img-responsive" alt="">
            <p>Boards in production inventory ready to be installed!</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>






<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>